/* Base Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Merriweather Sans, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* Mobile And Non-Mobile Header */


/* Not Mobile */
.not-mobile{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px;
    
}
.logo-text{
    font-size: 32px;
}
.gray-logo-text{
    color: gray;
}
.not-mobile-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.flex-function-text{
    display: flex;
    list-style: none;
}
.not-mobile-icons{
    padding-left: 1rem;
}

/* Mobile */
.mobile{
    display: none;
}
/* Mobile Header Media Queries */
@media (min-width:280px){
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-evenly;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
        
    }
    .mobile-icon{
        margin: 1.2rem;
        height: 10px;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    } 
}
@media (min-width:320px) {
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
        overflow-y: hidden;
    }
    .mobile-icon{
        margin: 2rem;
        margin-right: 1.5rem;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    }
}
@media (min-width:393px) and (max-width:414px){
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
    }
    .mobile-icon{
        margin: 2.3rem;
        height: 3.5px;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    }
}
@media (min-width:480px)  {
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
    }
    .mobile-icon{
        margin: 2.2rem;
        height: 3.5px;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    }
}
@media (min-width:600px)  { 
.mobile{
    display: flex;
    overflow-y: hidden;
}
.mobile-nav{
    display: flex;
    justify-content: space-evenly;
}
.mobile-icon-holder{
    display: flex;
    list-style: none;
    
}
.mobile-icon{
    margin: 5.3rem;
    height: 10px;
}
.not-mobile{
    display: none;
}
.not-mobile-nav{
    display: none;
}
}
@media (min-width:540px){
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-evenly;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
        
    }
    .mobile-icon{
        margin: 3.3rem;
        height: 10px;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    } 
}
@media (min-width:912px){
    .mobile{
        display: flex;
        overflow-y: hidden;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-evenly;
    }
    .mobile-icon-holder{
        display: flex;
        list-style: none;
        
    }
    .mobile-icon{
        margin: 6.2rem;
        height: 10px;
    }
    .not-mobile{
        display: none;
    }
    .not-mobile-nav{
        display: none;
    } 
}
@media (min-width:1024px) {
    .not-mobile{
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 24px;
        
    }
    .logo-text{
        font-size: 18px;
    }
    .gray-logo-text{
        color: gray;
    }
    .not-mobile-nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .flex-function-text{
        display: flex;
        list-style: none;
    }
    .not-mobile-icons{
        padding-left: 1rem;
    }
    .mobile{
        display: none;
    }
}
@media (min-width:1281px) {
.not-mobile{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px;
    
}
.logo-text{
    font-size: 18px;
}
.gray-logo-text{
    color: gray;
}
.not-mobile-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.flex-function-text{
    display: flex;
    list-style: none;
}
.not-mobile-icons{
    padding-left: 1rem;
}
}
/* Learn Section */
.learn-section{
    background-color: #cfcfcf;
    padding: 2rem 1.5rem;
    display: flex;
}
.learn-section img{
    height: auto;
    width: 60%;
    margin: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner-content{
    padding: 0 1.5rem;
    margin: auto;
}
.banner-content h1{
    display: inline;
}
/* Information Section About Colmar */
#information {
    display: flex;
    padding: 2rem 0 0 1.5rem;
}
.information-main {
    width: 60%;
    padding-right: 1.5rem;
    border-right: 1px solid #cfcfcf;
}

.information-main img {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.information-main h2 {
    display: inline;
    font-size: 1.3rem;
}
.info-main-content {
    padding-top: 0.5rem;
    display: inline-block;
}
.credit-for-information {
    font-size: 0.6rem;
    padding-bottom: 20px;
}
.information-boxes {
    width: 40%;
}
.image-container {
    display: flex;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.info-content {
    padding: 0 1rem;
}

.info-content p {
    font-size: 0.9rem;
}

.info-content h4 {
    display: inline;
}
.info-content a {
    color: rgb(77, 77, 255);
}
.guest-container {
    display: flex;
    background-color: #cfcfcf;
    padding: 1rem 0 1rem 1.5rem;
}

.not-mobile-image-info{
    max-width: 35%;
}

#content-image {
    max-width: 100%;
}

.mobile-image-info{
    display: none;
}

.guest-container img {
    max-width: 100%;
    height: auto;
}

